#aboutBtn {
    background-color: #21252D;
}

#hometown {
    margin: auto;
}

#locationsymbol {
    width: 16px;
    height: 16px;
}

/* @media only screen and (max-width: 600px) {
    .container {
        background-color: lightblue;
    }
} */
