:root{
    --sidebar-bg-color: #272B35;
    --sidebar-light-shadow: #21252D;
    --sidebar-shadow: #1

    C1F26;
}

/* @media screen and (max-width: 768px) {
    .links {
        display: table;
    }
    .icons {
        display: table-footer-group;
    }
} */

.sidenav {
    text-align: center;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #272B35; */
    background-color: var(--sidebar-bg-color);
    /* background-color: rgba(0,0,0,.33); */
    overflow-x: hidden; /* Disable horizontal scroll */
    /* overflow-y: hidden; */

    /* border-right: 6px ridge rgba(0,0,0,0.33); */
    border-right: 6px solid var(--sidebar-shadow);

    /* smooth transition between widths */
    transition: width 0.4s ease;
}

.links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    /* position: relative; */
    text-decoration: none;
    padding: 4px;
}

.icons {
    background-color: var(--sidebar-shadow);
    border: 1px solid var(--sidebar-shadow);
    width:30px;
    height:30px;
    margin: 2px;
    border-radius: 4px;
}

.icons:hover {
    background-color: var(--sidebar-light-shadow);
    border-color: var(--sidebar-light-shadow);
}

.btn{
    margin: 4px;
    margin-top: 10%;
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    /* kind of works, but doesn't shade the inner edges */
    box-shadow: 2px 2px var(--sidebar-light-shadow);

    transition: width 0.4s ease;
    /* works, but also fades in from white on page transition */
    /* transition: color 0.6s ease; */
}

.btn:focus{
    background-color: var(--sidebar-light-shadow);
}

#toggleBtn {
    background: var(--sidebar-shadow);
    width: 50px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    /* font-size: 11px; */
}

#toggleBtn:hover {
    background: var(--sidebar-light-shadow);
}

#navButtons {
    margin-top: 10px;
    top: 100px;
    bottom: 50px;
    position: absolute;
}

#homeBtn {
    color: #f1c40f;
}

#homeBtn:hover {
    color: #f39c12;
}

#aboutBtn {
    color: #e67e22;
}

#aboutBtn:hover {
    color: #d35400;
}

#projectsBtn {
    color: #2ecc71;
}

#projectsBtn:hover {
    color: #27ae60;
}

#illustrationsBtn {
    color: #9b59b6;
}

#illustrationsBtn:hover {
    color: #8e44ad;
}

#musicBtn {
    color: #3498db;
}

#musicBtn:hover {
    color: #2980b9;
    /* transition: color 0.5s ease; */
}

#designBtn {
    color: #e74c3c;
}

#designBtn:hover {
    color: #c0392b;
}

.btn::before,.btn::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: var(--sidebar-bg-color); /* must be same color as background to appear transparent*/
    transform: skewX(50deg);
    transition: .4s ease;
}

.btn::before{
    top: -4px;
    left: 10%;
}

.btn::after{
    bottom: -4px;
    right: 10%;
}

.btn:hover::before{
  left: 80%;
}

.btn:hover::after{
  right: 80%;
}
