*{
    margin: auto;
    padding: 0;
}

#visualBtn {
    background-color: #21252D;
}

.threejs {
    margin: auto;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
