*{
    margin: auto;
    padding: 0;
}

#visualBtn {
    background-color: #21252D;
}

.threejs {
    /* margin: auto 0; */
    /* grid-row: 2; */
    position: relative;
}

canvas {
    margin: auto;
    margin-top: 20%;
}

#info {
	position: absolute;
	top: 200px;
	/* width: 100%; */
	text-align: center;
	z-index: 100;
	/* display:block; */
}

.container {
    layout: grid;
}
