/* Color Theme Swatches in Hex */
.Sunset-Theme-1-hex { color: #595B73; }
.Sunset-Theme-2-hex { color: #0D0D0D; }
.Sunset-Theme-3-hex { color: #F2AF5C; }
.Sunset-Theme-4-hex { color: #F2B694; }
.Sunset-Theme-5-hex { color: #F28444; }

/* Color Theme Swatches in RGBA */
.Sunset-Theme-1-rgba { color: rgba(89, 91, 114, 1); }
.Sunset-Theme-2-rgba { color: rgba(13, 13, 13, 1); }
.Sunset-Theme-3-rgba { color: rgba(242, 175, 91, 1); }
.Sunset-Theme-4-rgba { color: rgba(242, 182, 147, 1); }
.Sunset-Theme-5-rgba { color: rgba(242, 131, 68, 1); }

/* Color Theme Swatches in Hex */
.Copy-of-Sunset-Camping-1-hex { color: #2E112D; }
.Copy-of-Sunset-Camping-2-hex { color: #540032; }
.Copy-of-Sunset-Camping-3-hex { color: #820333; }
.Copy-of-Sunset-Camping-4-hex { color: #C9283E; }
.Copy-of-Sunset-Camping-5-hex { color: #F0433A; }

/* Color Theme Swatches in RGBA */
.Copy-of-Sunset-Camping-1-rgba { color: rgba(45, 17, 44, 1); }
.Copy-of-Sunset-Camping-2-rgba { color: rgba(84, 0, 49, 1); }
.Copy-of-Sunset-Camping-3-rgba { color: rgba(130, 2, 50, 1); }
.Copy-of-Sunset-Camping-4-rgba { color: rgba(201, 40, 62, 1); }
.Copy-of-Sunset-Camping-5-rgba { color: rgba(239, 67, 57, 1); }

body {
    /* background: url("assets/newAbstract.png"); */
    /* background-color: #FF0D1A; */

    background-color: #98191C;

    /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation: fadein 3s;
    /* Firefox < 16 */
       -moz-animation: fadein 3s;
    /* Internet Explorer */
        -ms-animation: fadein 3s;
    /* Opera < 12.1 */
         -o-animation: fadein 3s;
            animation: fadein 3s;
}

.transitionBox {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:100;
    pointer-events: none;
    background-color: RGBA(0, 0, 0, 0); /* Transition color for home page */

    -webkit-animation-name: fadeToBlack;
    -webkit-animation-play-state: paused;
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeToBlack {
  from { background-color: RGBA(0,0,0, 0.0); }
  to { background-color: RGBA(0,0,0, 1.0); }
}

/* .video_container {
    z-index: -1;
} */

.links {
    display:block;
    position: fixed;
    text-align: center;
    vertical-align: top;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    margin-top: 10px;
    height:50px;
    width:120px
    color: #111111;
    font-family: pt-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#homeBtn {
  margin: auto;
  top: 0; left: 0; right: 0;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: RGBA(0,0,0,0.25);
  color: #999;
  cursor: pointer;
}

#homeBtn:hover {
  background: RGBA(255,255,255,0.75);
  color: black;
}
