@font-face {
    font-family: 'SailorsDiary'; /*a name to be used later*/
    src: url('assets/SailorsDiarySans.otf'); /*URL to font*/

    font-family: 'Qontra';
    src: url('assets/Qontra.otf');

    font-family: 'Wider';
    src: url('assets/Wider.otf');

    font-family: 'Brassie-Regular';
    src: url('assets/Brassie-Regular.otf');
}

*{
    padding: 0;
    /* font-family: SailorsDiary, sans-serif; */
}

.text {
    font-family: Qontra, sans-serif;
}

body{
    background: #353b48;
    display: flex;
    align-items: center;
    justify-content: center;
}
