/* Custom fonts */
@font-face {
    font-family: 'SailorsDiary';
    src: url('assets/SailorsDiarySans.otf');

    font-family: 'Qontra';
    src: url('assets/Qontra.otf');

    font-family: 'Wider';
    src: url('assets/Wider.otf');

    font-family: 'Brassie-Regular';
    src: url('assets/Brassie-Regular.otf');
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    /* background: #1C1F26; */
    background: #16191E;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #21252D;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1C1F26;
}

*{
    font-family: Qontra, sans-serif;
    color: #F5F5F5;
    text-align: center;
}

/* ignore the sidebar, treat the remaining area as the page */
.container {
    margin-left: 250px;
    margin-right: 10px;
}

.text {
    /* display: flex; */
    /* width: auto; */
    /* margin-left: 30%;
    margin-right: 30%; */
}

.shaded {
    text-shadow: 2px 2px #272B35;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 24px;
}
