@font-face {
    font-family: 'SailorsDiary'; /*a name to be used later*/
    src: url('assets/SailorsDiarySans.otf'); /*URL to font*/
}

.sidenav {
    text-align: center;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #272B35;
    /* align-items: center; */
    /* align-content: center; */
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 10%; */
}

#social {
    /* padding: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0; */
    position: absolute;
    bottom: 0;
}

.icons {
    background-color: #1C1F26;
    width:30px;
    height:30px;
    margin: 2px;
    border-radius: 4px;
    border: 5px solid #1C1F26;
}

.icons:hover {
    background-color: #21252D;
    border-color: #21252D;
}

.btn{
    margin: 10px;
    margin-top: 20%;
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

#homeBtn {
    color: #f1c40f;
}

#aboutBtn {
    color: #e67e22;
}

/* #aboutBtn:hover {
    color: #d35400;
} */

#projectsBtn {
    color: #2ecc71;
}

#illustrationsBtn {
    color: #9b59b6;
}

#musicBtn {
    color: #3498db;
}

/* #musicBtn:hover {
    color: #bdc3c7;
} */

#designBtn {
    color: #e74c3c;
}

.btn::before,.btn::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #272B35; /* must be same color as background to appear transparent*/
  transform: skewX(50deg);
  transition: .4s ease;
}

/* hover animations */
.btn::before{
  top: -4px;
  left: 10%;
}

.btn::after{
  bottom: -4px;
  right: 10%;
}

.btn:hover::before{
  left: 80%;
}

.btn:hover::after{
  right: 80%;
}
