

/* background: assets/extrusion-mask_transparent.png; */

html {
    background-color: RGBA(255, 116, 93, 1.0);

}

.enlarge-onhover {
     /* width: 30px; */
     /* height: 30px; */

     width: 50%;
     min-width: 200px;
     height: auto;

     color: rgba(255, 255, 255, 1.0);

}

.enlarge-onhover:hover {

    /* color: rgba(0, 0, 0, 0.75); */
    /* color: Transparent; */

    width: 55%;

     /* width: 60%;
     min-width: 200px;
     height: auto; */
     cursor: pointer;
}
