:root {
    --bg-color: rgb(5, 5, 5);
    --fg-color: green;
    --focused-color: lime;
    --faded: rgb(0, 87, 0);
}

* { 
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: 'Consolas', Consolas, monospace;
}

body {
    background-color: var(--bg-color);
    color:var(--fg-color);
    font-family: 'Consolas', Consolas, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    
    user-select: none;
    -moz-user-select: none;
}

p {
    color: var(--fg-color);
}

.map {
    width: 80%;
    height: 80%;
}

.wall {
    cursor: default !important;
}

.focused {
    color: var(--focused-color);
}

.entity {
    cursor: pointer;
}

/* .entity:focus {
    color:lime;
} */



a {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

.sidebar.right.top {
    height: 30%;
    top: 15;
}

.sidebar.right.bottom {
    height: 10%;
    bottom: 100px;
    row-gap: 10px;
}

.sidebar.right {
    /* border: 1px solid var(--fg-color); */
    /* color: var(--bg-color); */
    display: grid;
    /* height: 100%; */
    /* height: 30%; */
    width: 2%;
    position: absolute;
    /* top: 15; */
    right: 15;
    /* padding: 15px 15px 15px 15px; */
    /* row-gap: 10px; */
}





.rightside.button.focused {
    border: 1px solid var(--focused-color);
    color: var(--focused-color);
}

.rightside.button {
    height: 40px;
    aspect-ratio: 1;
}

button {
    background-color: var(--bg-color);
    border: 1px solid var(--fg-color);
    color: var(--fg-color);
    padding: 10px;
}

button:focus {
    outline: none;
}

.overlay-menu {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    /* vertical-align: center; */
}

.overlay-box {
    display: inherit;
    position: absolute;
    /* transform: translate(0%, 50%); */
    width: 33%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px var(--fg-color) solid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    border-radius: 5px;
    margin: auto;
    /* margin-top: 100px; */
    padding: 20px;

    font-size: 14;
    text-align: center;
    justify-content: center;
}

.io-btn {
    margin: 8px 0 0 0;
}

#io-box {
    margin-top: 10%;
    /* width: 80%; */
    /* height: 20px; */
}

input[type="text"], textarea {
    background-color: var(--bg-color);
    color: var(--fg-color);
    /* color: var(--faded); */
    font: inherit;
    border: 1px solid var(--fg-color);
    /* font-size: 18; */
    /* margin: 10px; */
    padding:10px;
}

input[type="text"]::placeholder {
    color: var(--faded);
    /* margin: 10px; */
}

#iostring {
    width: 100%;
    height: 30;
}

.exit-menu-text {
    color: var(--faded); 
    position: absolute; 
    bottom: 10px;
    width: 90%;
}