:root {
    --bg-color: #050505;
    --fg-color: #008000;
    --focused-color: #00ff00;
    --faded: #005700;
}

* { 
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: 'Consolas', Consolas, monospace;
}

body {
    background-color: var(--bg-color);
    color:var(--fg-color);
    font-family: 'Consolas', Consolas, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    
    user-select: none;
    -moz-user-select: none;
}

p {
    color: var(--fg-color);
}

#map {
    /* width: 80%; */
    /* height: 80%; */
}

.wall {
    cursor: default !important;
}

.focused {
    color: var(--focused-color);
}

.entity {
    cursor: pointer;
}

/* .entity:focus {
    color:lime;
} */

a {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: var(--focused-color);
}

.sidebar.right.top {
    height: 30%;
    top: 15;
}

.sidebar.right.bottom {
    height: 10%;
    bottom: 109px;
    row-gap: 10px;
}

.sidebar.right {
    /* border: 1px solid var(--fg-color); */
    /* color: var(--bg-color); */
    position: relative;
    display: grid;
    height: 100%;
    /* row-gap: 10px; */
    /* height: 30%; */
    width: 2%;
    position: absolute;
    /* top: 15; */
    right: 15px;
    /* left: 15px; */
    /* padding: 15px 15px 15px 15px; */
    /* row-gap: 10px; */
}

.rightside.button.focused {
    border: 1px solid var(--focused-color);
    color: var(--focused-color);
}

.rightside.button {
    height: 40px;
    aspect-ratio: 1;
}

button {
    background-color: var(--bg-color);
    border: 1px solid var(--fg-color);
    color: var(--fg-color);
    padding: 10px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    border-color: var(--focused-color);
    color: var(--focused-color);
    /* border-width: 2px !important; */
}

.overlay-menu {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    /* vertical-align: center; */
}

.overlay-box {
    display: inherit;
    position: absolute;
    /* transform: translate(0%, 50%); */
    width: 33%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px var(--fg-color) solid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    border-radius: 5px;
    margin: auto;
    /* margin-top: 100px; */
    padding: 20px;

    font-size: 14;
    text-align: center;
    justify-content: center;

    min-width: 330px;
}

#drag-overlay {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 100;
    border: 1px solid var(--fg-color);
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.io-btn {
    margin: 8px 0 0 0;
}

#io-box {
    /* margin-top: 5%; */
    margin: 5%;
    /* width: 80%; */
    /* height: 20px; */
}

input[type="text"], textarea {
    background-color: var(--bg-color);
    color: var(--fg-color);
    /* color: var(--faded); */
    font: inherit;
    border: 1px solid var(--fg-color);
    /* font-size: 18; */
    /* margin: 10px; */
    padding:10px;
    cursor: text;
}

input[type="text"]::placeholder {
    color: var(--faded);
    /* margin: 10px; */
}

#iostring {
    width: 100%;
    height: 30;
}

#iotext {
    width: 100%;
    height: fit-content;
    resize: none;
    /* overflow: hidden; */
}

#io-display {
    height: fit-content;
}

#iotext:focus {
    outline: none;
    border-color: var(--focused-color);
    /* color: var(--focused-color); */
}

/* -webkit- (Chrome, Safari, newer versions of Opera): */
#iotext::-webkit-scrollbar { width: 0 !important }
/* -moz- (Firefox): */
#iotext { overflow: -moz-scrollbars-none; }
/* -ms- (Internet Explorer +10): */
#iotext { -ms-overflow-style: none; }


.exit-menu-text {
    color: var(--faded); 
    position: absolute; 
    bottom: 10px;
    width: 90%;
}

.overlay-box,p {
    padding-top: 10px;
}

h5 {
    /* margin-block-start: 0.1em; */
    padding-top: 5px;
    margin-block-end: -0.5em;
}




/* color picker settings */
hex-color-picker {
    height: 90px;
    /* width: 25%; */
    width: auto;
    margin-top: 15px;

}

.color-picker-container {
    width: 30%;
    display: inline-block;
    /* margin: 10px 0 10px 0; */
    margin: auto;
    top: 10px;
}

#color-pickers {
    bottom: 10%;
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
}

hex-color-picker::part(saturation) {
    /* bottom: 30px; */
    border-radius: 3px 3px 0 0;
}

hex-color-picker::part(hue) {
    /* height: 30px; */
    height: 15px;
    border-radius: 0 0 3px 3px;
}

hex-color-picker::part(saturation-pointer) {
    border-radius: 5px;
}

hex-color-picker::part(hue-pointer) {
    border-radius: 2px;
    width: 15px;
    height: inherit;
}
/* end color picker settings */

.option-line {
    padding-top: 10px;
}